In [1]:
import mysql.connector as DD

In [2]:
mydb = DD.connect(host = "localhost",user = 'root', password = 'admin')

In [3]:
cursor = mydb.cursor()

In [4]:
cursor.execute("USE Employee")

In [5]:
cursor.execute("SHOW TABLES")

In [6]:
cursor.fetchall()

[('emp_data',)]

In [12]:
cursor.execute("SELECT * FROM emp_data")

In [13]:
cursor.fetchall()

[(1, 'ASHU', 1000000, '2023-01-01'),
 (2, 'Rashmi', 100011, '2023-06-06'),
 (3, 'Akash', 10000, '2023-08-09')]

In [9]:
cursor.execute("DESC emp_data")

In [10]:
cursor.fetchall()

[('emp_id', b'int', 'NO', 'PRI', None, ''),
 ('NAME', b'varchar(30)', 'YES', '', None, ''),
 ('SALARY', b'int', 'YES', '', None, ''),
 ('joining_date', b'varchar(40)', 'YES', '', None, '')]

In [11]:
cursor.execute("INSERT INTO emp_data VALUES (1,'ASHU',1000000,'2023-01-01'),(2,'Rashmi',100011,'2023-06-06'),(3,'Akash',10000,'2023-08-09')")

# Q-13. Write an SQL query to show only odd rows from aÂ table.

In [14]:
cursor.execute("SELECT * FROM emp_data WHERE  emp_id % 2 != 0")

In [15]:
cursor.fetchall()

[(1, 'ASHU', 1000000, '2023-01-01'), (3, 'Akash', 10000, '2023-08-09')]

# Q-14. Write an SQL query to clone a new table from another table.

In [18]:
cursor.execute("CREATE TABLE new_s AS SELECT * FROM emp_data")

In [20]:
cursor.execute("SELECT * FROM new_s")

In [21]:
cursor.fetchall()

[(1, 'ASHU', 1000000, '2023-01-01'),
 (2, 'Rashmi', 100011, '2023-06-06'),
 (3, 'Akash', 10000, '2023-08-09')]

In [22]:
cursor.execute("CREATE TABLE xy LIKE new_s")

In [23]:
cursor.execute("INSERT INTO xy SELECT * FROM new_s")

In [24]:
cursor.execute("SELECT * FROM xy")

In [25]:
cursor.fetchall()

[(1, 'ASHU', 1000000, '2023-01-01'),
 (2, 'Rashmi', 100011, '2023-06-06'),
 (3, 'Akash', 10000, '2023-08-09')]