In [2]:
import mysql.connector as conn

In [7]:
con = conn.connect(user = 'root',password = 'admin', host = 'localhost')

In [9]:
cursor = con.cursor()

In [10]:
cursor.execute('USE main')

In [13]:
cursor.execute('SHOW TABLES')

In [14]:
cursor.fetchall()

[('test',), ('worker_table',)]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with 'A'.

In [27]:
cursor.execute("SELECT * FROM worker_table")

In [28]:
cursor.fetchall()

[(1, 'ASHU', 'a', 300.0),
 (2, 'SALONI', 'b', 150.0),
 (3, 'LATINO', 'b', 150.0),
 (4, 'JAR', 'c', 200.0)]

In [34]:
cursor.execute("SELECT REPLACE(first_name,'A','a') FROM WORKER_TABLE ")

In [35]:
cursor.fetchall() #Reversing because original data in caps

[('aSHU',), ('SaLONI',), ('LaTINO',), ('JaR',)]

# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [41]:
cursor.execute('SELECT * FROM WORKER_TABLE ORDER BY first_name ASC')

In [43]:
cursor.fetchall()

[(1, 'ASHU', 'a', 300.0),
 (4, 'JAR', 'c', 200.0),
 (3, 'LATINO', 'b', 150.0),
 (2, 'SALONI', 'b', 150.0)]

In [47]:
cursor.execute("SELECT first_name,DEPARTMENT FROM WORKER_TABLE ORDER BY first_name ASC, DEPARTMENT DESC")

In [48]:
cursor.fetchall()

[('ASHU', 'a'), ('JAR', 'c'), ('LATINO', 'b'), ('SALONI', 'b')]

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [52]:
cursor.execute('SELECT first_name FROM worker_table ORDER BY SALARY DESC')

In [53]:
cursor.fetchall()

[('ASHU',), ('JAR',), ('SALONI',), ('LATINO',)]