In [3]:
import mysql.connector

In [8]:
conn = mysql.connector.connect(user = 'root', password = 'admin',host = 'localhost')

In [9]:
cursor = conn.cursor()

In [10]:
cursor.execute('SHOW DATABASES')

In [13]:
cursor.execute('USE main')

In [14]:
cursor.fetchall()

[]

In [12]:
#  (1, 'ASHU', 'CHANDRA', 6000000, 'ashu@.com', 2001)

In [21]:
cursor.execute("CREATE TABLE WORKER_TABLE (id INT,first_name VARCHAR(30), DEPARTMENT VARCHAR(10), SALARY FLOAT(10,5))")

In [23]:
cursor.execute(" INSERT INTO WORKER_TABLE VALUES (1,'ASHU','a',300) ")

In [24]:
cursor.execute(" INSERT INTO WORKER_TABLE VALUES (2,'SALONI','b',150) ")

In [25]:
cursor.execute(" INSERT INTO WORKER_TABLE VALUES (3,'LATINO    ','b',150) ")

In [26]:
cursor.execute(" INSERT INTO WORKER_TABLE VALUES (4,'JAR    ','c',200) ")

In [27]:
cursor.fetchall()

[]

In [28]:
cursor.execute('SELECT * FROM WORKER_TABLE')

In [29]:
cursor.fetchall()

[(1, 'ASHU', 'a', 300.0),
 (2, 'SALONI', 'b', 150.0),
 (3, 'LATINO    ', 'b', 150.0),
 (4, 'JAR    ', 'c', 200.0)]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [31]:
cursor.execute('UPDATE WORKER_TABLE SET first_name = RTRIM(first_name)')

In [32]:
cursor.execute('SELECT * FROM WORKER_TABLE')

In [34]:
cursor.fetchall()

[(1, 'ASHU', 'a', 300.0),
 (2, 'SALONI', 'b', 150.0),
 (3, 'LATINO', 'b', 150.0),
 (4, 'JAR', 'c', 200.0)]

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker and print it's length

In [47]:
cursor.execute('SELECT DISTINCT(DEPARTMENT),LENGTH(DEPARTMENT) FROM WORKER_TABLE')

In [48]:
cursor.fetchall()

[('a', 1), ('b', 1), ('c', 1)]

# Q-3. Write an SQL query to fetch nth max salaries from a table.

In [69]:
cursor.execute('SELECT * FROM WORKER_TABLE ORDER BY SALARY DESC LIMIT 3')

In [70]:
cursor.fetchall()

[(1, 'ASHU', 'a', 1000.0), (4, 'JAR', 'c', 200.0), (2, 'SALONI', 'b', 150.0)]